// Light Theme
// text settings
$dark-text: #757575;
$dark-primary-text: rgba($dark-text, .87);
$dark-accent-text: rgba($dark-primary-text, .54);
$dark-disabled-text: rgba($dark-primary-text, .38);
$dark-dividers: rgba($dark-primary-text, .12);
$dark-focused: rgba($dark-primary-text, .12);
$dark-border-color: rgba($dark-text, .2);

// background settings
$light-background:    #fafafa;
$light-hover:         rgba(#2c2c2c, .09);
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-alpha-4:     rgba(#2c2c2c, .04);
$dark-bg-alpha-12:    rgba(#2c2c2c, .12);

// Foreground palette for light themes.
$mat-light-theme-foreground: (
        base:              $dark-text,
        border:            $dark-border-color,
        divider:           $dark-dividers,
        dividers:          $dark-dividers,
        disabled:          $dark-disabled-text,
        disabled-button:   rgba($dark-text, .26),
        disabled-text:     $dark-disabled-text,
        elevation:         $dark-text,
        secondary-text:    $dark-accent-text,
        hint-text:         $dark-disabled-text,
        accent-text:       $dark-accent-text,
        icon:              $dark-text,
        icons:             $dark-accent-text,
        text:              $dark-text,
        slider-min:        $dark-primary-text,
        slider-off:        rgba($dark-text, .26),
        slider-off-active: $dark-disabled-text,
);

// Background palette for light themes.
$mat-light-theme-background: (
        background:               $light-background,
        status-bar:               $light-bg-darker-20,
        app-bar:                  $light-background,
        hover:                    $dark-bg-alpha-4,
        card:                     $light-bg-lighter-5,
        search:                   $light-bg-darker-5,
        dialog:                   $light-bg-lighter-5,
        disabled-button:          $dark-bg-alpha-12,
        raised-button:            $light-bg-lighter-5,
        focused-button:           $dark-focused,
        selected-button:          $light-bg-darker-20,
        selected-disabled-button: $light-bg-darker-30,
        disabled-button-toggle:   $light-bg-darker-10,
        unselected-chip:          $light-bg-darker-10,
        disabled-list-option:     $light-bg-darker-10,
);

$mat-light-theme-calendar: (
        cal-border:               $light-bg-darker-5,
        cal-background-primary:   $light-background,
        cal-background-secondary: $light-bg-darker-5,
        cal-bg-active:            $light-bg-darker-5,
        cal-gray:                 $light-bg-darker-30,
        cal-bg-today:             #e8fde7,
        cal-event-color-primary:  $light-bg-darker-5,
);

