<div class="row pl-3">
    <div class="list-group col-12">
        <input type="text" class="form-control" placeholder="Chercher un cocktail ..." [(ngModel)]="search" />
        <hr>
        <a [routerLink]="[index]"
        routerLinkActive="active"
        (click)="selectCocktail(cocktail)"
        *ngFor="let cocktail of cocktails | filter: search; let index = index"
        class="list-group-item list-group-action"
        [contextMenu]="listMenu"
        [contextMenuSubject]="cocktail">
            {{ cocktail.name }}
        </a>
    </div>
</div>
<hr>
<div class="row pl-3">
    <div class="col text-center">
        <button class="btn btn-success col-8" [routerLink]="['new']">
            Ajouter
        </button>
    </div>
</div>


<!-- List contextMenu -->
<context-menu #listMenu>
    <ng-template contextMenuItem>
        <span>Modifier</span>
        <mat-icon>edit</mat-icon>
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem let-item>
        <span>Supprimer</span>
        <mat-icon>delete</mat-icon>
    </ng-template>
</context-menu>